.required {
	font-size: 9pt;
	font-style: normal;
	color: #f00;
}

#left_column {
	float: left;
	width: 49%;
	height: 100%;
}

#right_column {
	margin-left: 51%;
	height: 100%;
}

#general_info label, #update_profile_picture label {
	width: 100%;
	display: block;
	padding: 3px 0 3px 0;
}

#required_info label span, #other_info label span {
	font-weight: bold;
	text-align: left;
	padding: 0px 10px 0 0;
	display: block;
	float: left;
	width: 200px;
}

#privacy_info label span {
	font-weight: bold;
	text-align: left;
	padding: 0px 10px 0 0;
	display: block;
	float: left;
	width: 230px;
}

#general_info label .text_input {
	width: 220px;
}

#general_info hr {
	margin: 20px 10px;
}

#change_password a {
	font-size: 9pt;
}

#update_profile_picture label span {
	font-weight: bold;
	text-align: left;
	padding: 0px 10px 0 0;
	display: block;
	float: left;
	width: 200px;
}

#about textarea {
	width: 100%;
	height: 120px;
}

#about .limit_text_counter {
	font-size: 8pt;
}

#about .limit_text_counter input{
	width: 21px;
	border: 0px solid;
}

.checklist {
	height: 200px;
}

#roles_checklist {
	height: 100px;
}

#optout {
	margin: 20px;
	font-size: 9pt;
	float: right;
}