#back_to_goal {
	margin-top: 15px;
}

#edit_goal_box label {
	width: 100%;
	display: block;
	padding: 3px 0 3px 0;
}

#edit_goal_box label span {
	font-weight: bold;
	text-align: left;
	padding: 0px 10px 0 0;
	display: block;
	float: left;
	width: 200px;
}

#edit_goal_box label .text_input {
	width: 300px;
}