#sub_event_header {
	float: left;
	/*margin-right: 125px;*/
	width: 80%;
}

#attending {
	float: right;
	text-align: right;
	width: 20%;
	margin-top: 23px;
}

#sub_event_date_time {
	float: left;
	width: 100%;
}

#sub_event_location {
	float: left;
	width: 100%;
}