#message_log {
	margin: 10px 0px;
	padding: 5px;
	height: auto;
	max-height: 300px;
	overflow-y: scroll;

	border: 1px solid;
	border-color: #999;
	border-radius: 5px;
	-moz-border-radius: 5px; /* Old Firefox */
}

#latest_message_header {
	font-size: 9pt;
}

.message_item {
	padding: 10px 0px;
}

.message_sent em, .message_received em {
	font-size: 10pt;
}

.message_content {
	padding: 2px;
}

#private_message textarea {
	width: 99%;
	height: 100px;
}

#private_message .limit_text_counter {
	font-size: 8pt;
}

#private_message .limit_text_counter input{
	width: 21px;
	border: 0px solid;
}