#opt_out_warning {
	color: #f00;
	font-weight: bold;
}

#opt_out_box label {
	width: 100%;
	display: block;
	padding: 3px 0 3px 0;
}

#opt_out_box label span {
	font-weight: bold;
	text-align: left;
	padding: 0px 10px 0 0;
	display: block;
	float: left;
	width: 140px;
}

#opt_out_box label .text_input {
	width: 220px;
}

