#reset_password_box label, #send_password_email_box label {
	width: 100%;
	display: block;
	padding: 3px 0 3px 0;
}

#reset_password_box label span, #send_password_email_box label span {
	font-weight: bold;
	text-align: left;
	padding: 0px 10px 0 0;
	display: block;
	float: left;
	width: 130px;
}

#reset_password_box label span {
	width: 160px;
}

#reset_password_box label .text_input, #send_password_email_box label .text_input {
	width: 220px;
}