#search_header {
	float: left;
}

#search_title {
	float: left;
}

#show_search_people_button {
	margin: 20px 0px 10px 20px;
}

#hide_search_people_button {
	float: right;
	margin: 20px 0px 10px 20px;
}

#search_name {
	float: left;
	width: 100%;
	padding-bottom: 10px;
}

#search_location {
	float: left;
	width: 100%;
	padding-bottom: 10px;
}

#search_interests {
	float: left;
	width: 49%;
}

#search_roles {
	margin-left: 51%;
}

.checklist {
	height: 150px;
	font-size: 10pt;
}
