
.picture {
	margin-left:13px;
	margin-top:3px;
	margin-bottom:3px;
	width:35px;
	height:100%;
}

.text {
	margin-top:11px;
}

.time {
	margin-left:9px;
}

.delete {
	float:right;
	margin-top:10px;
	margin-right:10px;
	height:100%;
}