.newpost {
	background-color:rgba(255,255,255,0.25);
	border:2px rgba(0,0,0,0.15) solid;
	padding:4px;
}

#editor { 
	width: 100%;
	height: 100px;
   }
   
#new-post-buttons {
	float: right;
}

hr {
	margin: 5px;
	padding: 1px%;
}

h3 {
	margin: 5px;
	padding: 1px%;
}

#code-title:hover {
	background-color: #F5F5F5;
}

.five-marg {
	margin: 5px;
}

#comment-box {
	float:left;
	width:84%;
	height:60px;
	margin:10px;
}

.classSelect{
	width:350px;
}