html, body{
  background: url("../img/background.png") no-repeat center center fixed;
}

/*
##################Header Style##############
*/
#header{
    width:50%;
    margin-left:25%;
    min-width:256px;
    min-height:600px;
    text-align:center;
    padding:32px;
    margin-top:64px;
}

#signinpanel{
    background-color:rgba(255,255,255,0.05);
    border: 1px rgba(255,255,255,0.1) solid;
}

.logo{
	width:100%;
	margin-bottom:32px;
}

/*
###################Button Style###########
*/
.btn-primary { 
	height:64px;
	padding:0px;
  width:30%;
  background-color:#256590;
  display:inline;
}

.btn-primary:hover{
  background-color:rbg#3498db;
}

.button-div{
    width:100%;
    margin:auto;
}


/*
#################Form Style#################
*/

#welcome{
  font-family:"times new roman";
  color:#222266;
}

.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  width:50%;
  left:25%;

  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
################Video Style#################
*/
.video-container {     
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}   
.video-container iframe, 
.video-container object, 
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
################Footer Style#################
*/

#mineslogo{
    margin-left:20px;
}

#footer {
  height: 70px;
  background-color: #FFFFFF;
  text-align:center;
  margin-top: -50px;
}